html,
body {
  padding: 0;
  margin: 0;
  font-family: IBMPlexSens, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(243, 243, 244, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

/** GLOBAL.CSS **/
p {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  font-weight: 600;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

* {
  box-sizing: border-box;
}

:root {
  --text-green: rgba(58, 79, 65, 1);
  --text-purple-dark: rgb(28, 2, 33);
  --text-cafe: rgba(166, 123, 91, 1);
  --text-white-100: rgba(243, 243, 244, 1);
}

/* glass-morphism */
.glass {
  background: hsla(0, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
}